* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: #333;
  background-color: rgb(22, 170, 170);
  font-family: cursive;
  margin-top: 40px;
  background-image: url(https://tse4.mm.bing.net/th?id=OIP.JU7luxrx-LNTTXpZ-Rr5fgHaHa&pid=Api&P=0&h=180);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}

h1 {
  color: rgb(12, 12, 12);
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin: 20px 0;
}

/* Logo to do List */

.to-do-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.to-do-logo-container{
 width: 100%;
 margin: 20px;
 display: flex;
 align-items: center;
  justify-content: center;
}

.to-do-logo {
  width: 150px;
  height: 150px;
}

/* Principal list */

.principal-list {
width: 600px;
min-height: 500px;
background-color: cyan;
padding: 25px;
margin: 10px;
border-radius: 26px;
}